*
!.gitignore

!.github/
!.github/**/
!.github/**/*

!.husky/
!.husky/*
.husky/_/

!.storybook/
!.storybook/main.ts
!.storybook/preview.tsx

!.vscode/
!.vscode/extensions.json

!docs/
!docs/**/
!docs/**/*

!public/
!public/**/
!public/**/*
public/docs/

!src/
!src/**/
!src/**/*

!tools/
!tools/**/
!tools/**/*

!.editorconfig
!.prettierignore
!.stylelintrc.mjs
!changelog.config.js
!eslint.config.mjs
!generate-react-cli.json
!justfile
!prettier.config.mjs
!tsconfig.json
!tsconfig.node.json
!vite.config.ts

!LICENSE.md

!README.md

!index.html

!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml

*.sync-conflict-*
