*
!.gitignore

!.github/
!.github/**/
!.github/**/*

!.husky/
!.husky/*
.husky/_/

!.storybook/
!.storybook/main.ts
!.storybook/preview.tsx

!.vscode/
!.vscode/extensions.json

!docker/
!docker/**/*
!Dockerfile

!docs/
!docs/**/
!docs/**/*

!public/
!public/**/
!public/**/*
public/docs/

!src/
!src/**/
!src/**/*

!tools/
!tools/**/
!tools/**/*

!.editorconfig
!.prettierignore
!.stylelintrc.*js
!changelog.config.*js
!eslint.config.*js
!generate-react-cli.json
!justfile
!prettier.config.*js
!tsconfig.json
!tsconfig.node.json
!vite.config.ts

!CONTRIBUTING.md
!CONTRIBUTORS.md
!LICENSE.md
!README.md

!index.html

!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml

*.sync-conflict-*
